.debt {
    color: #fe1319
}

.profit {
    color: #21a358
}

.default {
    color: #292929
}

.ft-grid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
}

.ft-card {
    text-align: left;
    max-width: 300px;
    padding: 10px;
    background-color: rgba(255, 255, 255, .9);
    font-size: 16px;
    min-height: 30px;
    line-height: 2em;
    border-radius: 15px 15px 15px 15px;
    vertical-align: middle;
    -webkit-transition: 2s;
    transition: 2s
}

.ft-card-chore-title {
    font-size: 20px;
}

.ft-stats-row {
    display: flex;
    justify-content: space-between;
    min-height: 40px;
    min-width: 300px;
    max-width: 500px;
    align-items: center;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 6px;
    margin: 5px;
    gap: 4px;
}

.ft-stats-item {
    text-align: center;
    flex-basis: auto;
}

.ft-place-indicator {
    background-color: #ffd13b;
    border-radius: 0 4px 4px 0;
    color: rgb(255, 132, 16);
    font-size: 20px;
    min-width: 20px;
    font-weight: 800;
    padding-left: 5px;
}

.ft-text-color {
    color: rgba(31, 31, 31, 0.9);
}

.ft-icon-color {
    text-shadow: 0 0 0 rgba(31, 31, 31, 0.9);
}

.ft-inline-profile-image {
    width: 35px;
    min-width: 35px;
    min-height: 35px;
    height: 35px;
    border-radius: 100%;
    border: 2px solid #fff;
    background-size: cover;
}

.region.top.left .MMM-flatastic .ft-grid,
.region.top.center .MMM-flatastic .ft-grid,
.region.top.right .MMM-flatastic .ft-grid,
.region.bottom.left .MMM-flatastic .ft-grid,
.region.bottom.center .MMM-flatastic .ft-grid,
.region.bottom.right .MMM-flatastic .ft-grid {
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

.region.top.left .MMM-flatastic .ft-grid,
.region.bottom.left .MMM-flatastic .ft-grid {
    align-items: flex-start;
}

.region.top.right .MMM-flatastic .ft-grid,
.region.bottom.right .MMM-flatastic .ft-grid {
    align-items: flex-end;
}